<div class="contact-card">
  <div class="contact-header">
    <h1>My Contact Card</h1>
  </div>
  <div class="contact-body">
    <div class="contact-photo">
      <img src="https://thumbs.dreamstime.com/z/portrait-funny-cat-looking-out-box-portrait-funny-cat-looking-out-box-isolated-white-background-121112695.jpg" alt="Contact Card Photo"/>
    </div>
    <div class="contact-details">
      <h1>Name: Steve Lord</h1>
      <h2>Phone: (626) 424-0334</h2>
      <h3>Email: steve@mlcloud.io</h3>
    </div>
  </div>
  <div class="contact-footer">
    <button>Send Email</button>
  </div>
</div>
