// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

@import "./settings";

.bakery-body {
  background-color: #ffffff;

  &:header {
    max-width: $container;
    width: 100%;
    margin: 0 auto;
  }

  &:ul {
    list-style-type: none;
  }

  &:img {
    max-width: 100%;
  }
}

.app-div {
  height: 100%;
  width: 100%;
  background-color: red;
}
