// colors

$light-blue: #007bff;
$company-blue: #128fc2;
$warning-red: #dc3545;


// spacing
$m-space: 12px;

//fonts
$helvetica: Helvetica Neue,Helvetica,Arial,sans-serif;
$rockwell: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
