.todo-footer {
  // Psuedo-selectors

  // selector Style
  padding: $m-space;
  display: flex;

  // nesting
  input {
    flex-grow: 1;
    padding-left: $m-space;
    margin-right: $m-space;
  }
}
