.todo-header {
  // background-color: linear-gradient(to top, red, orange);
  background-color: $company-blue;
  @include border-color(#a60b55 #76cd9c null #e8ae1a);
  color: #ffff;
  text-align: center;
  padding: $m-space;

  h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: $rockwell;
  }
}
